#body{
    width: 100%;
    height: 100%;
    background-color: #2a9d8f;
    display: flex;
    justify-content: center;
}
.progress{
    position: relative;
    height: 10px;
    width: 100%;
    border: 10px solid #f4a261;
    border-radius: 15px;
    
}
.progress .color{
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 4.8s infinite linear;    
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};